@model ProvalusApplicantTrackingHub.Models.EducationViewModel

@{
    ViewBag.Title = "Index";
}
<div>

    @if (User.Identity.IsAuthenticated)
    {
        @Html.Partial("_StepBar")
    }

</div>

<h2>Educational History</h2>
<h3>Please list all of your degrees from accredited instituations of higher learning.</h3>
<div>
    <table class="ui celled striped table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NewEducation.School)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewEducation.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewEducation.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewEducation.Major)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewEducation.Degree)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Educations)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.School)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Major)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Degree)
                </td>
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
                </td>
            </tr>
        }
        @using (Html.BeginForm("Create", "Educations"))
        {
            <tr>
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <td>
                    @Html.EditorFor(model => model.NewEducation.School, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NewEducation.School, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.EditorFor(model => model.NewEducation.StartDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NewEducation.StartDate, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.EditorFor(model => model.NewEducation.EndDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NewEducation.EndDate, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.EditorFor(model => model.NewEducation.Major, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NewEducation.Major, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.EditorFor(model => model.NewEducation.Degree, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NewEducation.Degree, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.HiddenFor(m => m.JAID)
                    <input type="submit" value="Create" class="btn btn-default" />
                </td>
            </tr>
        }
    </table>
</div>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <p><a href="@Url.Action("Index", "Skills", new { jaid = TempData["jaid"] })" class="btn btn-danger btn-group-sm" style="float:right">Next Section &raquo;</a></p>
        </div>
</div> 